.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  flex-wrap: wrap;

}
.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  font: bold;
  color: white;
  font-size: 42px;
}